@{
    ViewBag.Title = "Home Page";
}
@section header {
    <script type="text/javascript" src="~/Scripts/Main.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
}
<div data-bind="foreach: requirementSets">
    <div class="requirementBox">
        <h3><a href="#" data-bind="text: name, attr: { 'data-reqSetName': name }"></a></h3>
        <div class="courses" data-bind="foreach: appliedCourses">
            <div class="course">
                <!-- when we decide what the course boxes are going to look like we will add that population here -->
                <span data-bind="text: department"></span>
                <span>-</span>
                <span data-bind="text: number"></span>
                <span>(</span>
                <span data-bind="text: semester"></span>
                <span>)</span><br />
                <div class="courseData" data-bind="attr: { 'data-course': JSON.stringify(ToJSONCourse($data)) }" ></div>
            </div>
        </div>
    </div>
</div>
