@{
    ViewBag.Title = "Home Page";
}
@section header {
    <script type="text/javascript" src="~/Scripts/Main.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
}
<div data-bind="foreach: requirementSets">
    <div class="requirementBox">
        <h3><a href="#" data-bind="text: name"></a></h3>
        <div></div>
    </div>
</div>
