<div data-bind="foreach: requirementSets">
    <div class="requirementBox">
        <h3>
            <!-- ko if: isFull() -->
            <a href="#" style="color: green;"data-bind="text: name, attr: { 'data-reqSetName': name }"></a>
            <!-- /ko -->
            <!-- ko if: !isFull() -->
            <a href="#" style="color: red;" data-bind="text: name, attr: { 'data-reqSetName': name }"></a>
            <!-- /ko -->
        </h3>
        <div class="courses" data-bind="foreach: appliedCourses">
            <div class="course">
                <span data-bind="text: department"></span>
                <span>-</span>
                <span data-bind="text: number"></span>
                <span>(</span>
                <span data-bind="text: semester"></span>
                <span>)</span>
                <span class="fa fa-trash-o" title="Delete this course" data-bind="click: DeleteCourse"></span><br />
                <div class="courseData" data-bind="attr: { 'data-course': JSON.stringify(ToJsonCourse($data)) }" ></div>
            </div>
        </div>
    </div>
</div>