body
{
    margin: 0px;
    overflow: hidden;
}
/* HEADER BAR */
#headerBarRoot
{
    height: auto;
    background-color: rgb(128, 128, 128);
    position: relative;
    width: 100%;
    display: block;
}
#headerBarWrapper
{
    padding: 2px;
}
/* MAIN SCREEN */
#mainScreen
{
    width: 100%;
    position: relative;
    display: block;
}
#mainBody
{
    position: absolute;
    float: right;
    height: 100%;
    display: block;
}
/* SIDEBAR */
#sidebarRoot
{
    border-right: thin solid black;
    position: absolute;
    float: left;
    height: 100%;
    display: block;
}
#sidebarWrapper
{
    position: relative;
    width: 0px;
    height: 100%;
    float: left;
    border-right: thin solid black;
}
#openCloseSidebarDiv
{
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    width: 10px;
    cursor: pointer;
    float: right;
}